.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* .dashboard-layers {
  width: 100%;
  flex-grow: 1;
  position: relative;
} */

/* ---- Dashboard Main CSS ---- */
.dash-main {
  position: absolute;
  background-color: #ffffff;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 66px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px 0px 0px 12px;
}

.dash-main-header-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #afafaf;
  border-radius: 12px 0px 0px 0px;
  z-index: 9999;
}

.dash-main-content {
  overflow-y: auto;
  padding-top: 50px;
}

.dash-main-projects-container {
  margin-top: 30px;
}

/* ---- NEW PROJECT BUTTON CSS ---- */
.new-project-wrapper button {
  border: none;
  border-radius: 5px;
  padding: 3px 20px;
  background-color: #8888ff;
  color: white;
  transition: background-color 0.2s;
}

.new-project-wrapper button:hover {
  background-color: #7b7bff;
}
