.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* .dashboard-layers {
  width: 100%;
  flex-grow: 1;
  position: relative;
} */

/* ---- Dashboard Main CSS ---- */
.dash-main {
  position: absolute;
  background-color: #ffffff;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 66px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px 0px 0px 12px;
}

.dash-main-header-nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #afafaf;
  border-radius: 12px 0px 0px 0px;
  z-index: 9999;
}

.dash-main-content {
  overflow-y: auto;
  padding-top: 50px;
}

.dash-main-projects-container {
  margin-top: 30px;
}

/* ---- PROJECT SETTINGS MODAL CSS ---- */

.modal-window-overlay {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1000;
  overflow-y: auto;
  padding-left: 66px;
}

.m5-modal {
  max-width: 780px;
  width: 100%;
  margin-top: 80px;
  border-radius: 8px;
  background-color: white;
  color: #363636;
}

.m5-modal .modal-project-banner {
  width: 100%;
  height: 150px;
  border-radius: 8px 8px 0px 0px;
  background-image: url('https://images.unsplash.com/photo-1504870712357-65ea720d6078?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
  background-size: cover;
  background-position: 50%;
}

.m5-modal .modal-project-header {
  width: 100%;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.m5-modal .modal-project-header h3 {
  font-size: 23px;
}

.m5-modal .modal-project-info-body {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #f0f0f0;
}

.m5-modal .modal-project-info-body h4 {
  font-size: 18px;
  color: #585858;
}

.m5-modal .modal-project-description {
  display: flex;
  margin-bottom: 15px;
}

.m5-modal .modal-project-description svg {
  width: 14px;
  margin-right: 10px;
}

.m5-modal .modal-project-description svg path {
  fill: #585858;
}
