.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* .dashboard-layers {
  width: 100%;
  flex-grow: 1;
  position: relative;
} */

.nav-surface {
  position: absolute;
  background-color: #192029;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.nav-surface-control {
  width: 66px;
  height: 100%;
  flex-shrink: 0;
}

.nav-surface-control-component {
  display: flex;
  height: 100%;
  position: relative;
}

.nav-surface-control-primary {
  height: 100%;
  width: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-surface-control-primary svg {
  cursor: pointer;
}

.setting-icon-wrapper,
.bell-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.setting-icon-wrapper svg {
  width: 35px;
  height: 35px;
}

.bell-icon-wrapper svg {
  width: 23px;
}

.bell-icon-wrapper svg path {
  fill: #fbb03b;
}

/* ---- Dashboard Main CSS ---- */
.dash-main {
  position: absolute;
  background-color: #ffffff;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 66px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px 0px 0px 12px;
}

.dash-main-header-nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #afafaf;
  border-radius: 12px 0px 0px 0px;
  z-index: 9999;
}

.dash-main-content {
  overflow-y: auto;
  padding-top: 50px;
}

.dash-main-project-container {
  margin-top: 30px;
}

/* ---- PORTFOLIO CARDS CSS ---- */
.portfolio-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.portfolio-card:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.portfolio-card-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  border-radius: 8px 8px 0px 0px;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
}

.banner-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px 8px 0px 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.portfolio-card-header h3 {
  font-size: 14px;
  color: white;
}

.portfolio-card-info-section {
  display: flex;
  align-items: center;
}

.status-box {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(0, 153, 0);
  border-radius: 3px;
  padding: 2px 10px;
  margin-right: 15px;
}

.status-box p {
  font-size: 12px;
}

.duedate-box {
  display: flex;
  align-items: center;
}

.duedate-box p {
  font-size: 13px;
  color: #59b4b0;
}

.duedate-box svg {
  width: 12px;
  margin-right: 5px;
}
