.task-bucket-wrapper {
  min-width: 310px;
  max-width: 310px;
  height: 100%;
  padding: 10px 15px 15px 15px;
}

.task-bucket {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.task-bucket-header-wrapper {
  padding: 5px 0px;
  margin-bottom: 5px;
}

.task-bucket-header-wrapper h3 {
  font-size: 18px;
}

.task-bucket-tasks-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.task-bucket-new-task-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  border-radius: 4px;
  background-color: #8888ff;
  color: white;
  margin-bottom: 15px;
  padding: 5px 10px;
  transition: box-shadow 0.2s;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-bucket-new-task-wrapper:hover {
  background-color: #7b7bff;
}

.task-bucket-new-task-wrapper svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 10px;
}

.task-bucket-new-task-wrapper p {
  font-size: 15px;
}
