.nav-surface {
  position: absolute;
  background-color: #192029;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.nav-surface-control {
  width: 66px;
  height: 100%;
  flex-shrink: 0;
}

.nav-surface-control-component {
  display: flex;
  height: 100%;
  position: relative;
}

.nav-surface-control-primary {
  height: 100%;
  width: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-surface-control-primary svg {
  cursor: pointer;
}

.setting-icon-wrapper,
.bell-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.setting-icon-wrapper svg {
  width: 35px;
  height: 35px;
}

.bell-icon-wrapper svg {
  width: 23px;
}

.bell-icon-wrapper svg path {
  fill: #fbb03b;
}
